{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}

{% block content %}
<article>
  {% include "partials/page-header.html" %}
</article>
<div class="wrapper">
  <article>
    {% for item in collections.projects %}
    <figure>
      <img src="{{ item.data.hero.image }}" alt="A screenshot of {{ item.data.title }}" />
      <figcaption>
        <h2>{{ item.data.title }}</h2>
        <p>{{ item.data.summary }}</p>
        <p><a href="{{ item.data.projectURL }}">PROJECT</a> / <a href="{{ item.data.sourceURL }}">SOURCE</a> / <a
            href="{{ item.url }}">CASE STUDY</a> </p>
      </figcaption>
    </figure>
    {% endfor %}
  </article>
</div>
{% endblock %}