<article class="featured-projects">
  <div class="wrapper">
    <h2>
      Featured Projects
    </h2>
    <div>
      <ul>
        <!-- Complicated displayOrder logic. Sorry mate -->
        {% for project in featuredprojects | sort(false, false, "displayOrder") %}
        {% set project = projects[project.project] %}
        <!-- The actual templating -->
        <li>
          <h3>
            <a href="project.projectURL" aria-label="See {{ project.title }}">{{project.title}}</a>
          </h3>
          <p>{{ project.summary }}</p>
          <ul>
            <li><a href="{{ project.sourceURL }}">Source</a></li>
            {% if project.caseStudyURL %}
            <li>
              <a href="{{ project.CaseStudyURL }}">Case Study</a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <a href="/projects/">See more projects</a>
    </div>
  </div>

</article>