<footer class="site-foot">
  <div class="site-foot-flex">
    <div>
      © {{ helpers.currentYear() }} JEWELL SCOTT<br>
      ALL RIGHTS RESERVED<br>
      MEMENTO MORI<br>
      <br>
      EMAIL ME AT<br>
      HEY@JEWELLSCOTT.COM<br>
      <div role="list">
        <ul>
          <li><a href="">LEGAL</a></li>
          <li><a href="">COLOPHON</a></li>
          <li><a href="">SOURCE</a></li>
        </ul>
      </div>
      PARTY MODE?!
    </div>
    <div>
      MY MISSION IN LIFE IS NOT MERELY TO SURVIVE, BUT TO THRIVE; AND TO DO SO WITH SOME PASSION, SOME COMPASSION, SOME
      HUMOR, AND SOME STYLE.<br>
      MAYA ANGELOU
    </div>
    <div ul role="list">
      <a href="#scroll-to-top">↑ SCROLL TO TOP</a><br>
      HOME / ABOUT / BLOG / PROJECTS / NOW / FEEDS / COLLECTIONS / RESOURCES / META
      <br>XXIVV / INDIE WEBRING / GUESTBOOK<br>
      TWITTER / GITHUB / CODEPEN
    </div>
  </div>
</footer>