<a class="skip-link button" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="wrapper">
    <a href="/" aria-label="Jewell Scott" class="site-head__logo">
      {% include "partials/logo.svg" %}
    </a>
    <nav aria-label="primary">
      <ul>
        <li>
          <a href="/">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
      </ul>
    </nav>
  </div>
</header>